  .text_align{
 width:100%;
 font-size:12px;
 color:#333;
 line-height:20px;
 text-align:justify;}

.text_align p{
margin:10px 0;
width:100%;
}

 .text_align ul {
 padding-left:15px;
 text-align:left;

}
.text_align ul li{list-style:none}
.text_align ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #f5821f; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width:10px; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}