<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prabhattradingservice">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/application_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/application_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".BlogsSeeAll"></activity>
        <activity android:name=".Fragments.PositionalSeeall" />
        <activity
            android:name=".Fragments.PositionalWebView"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Fragments.IndicatorWebView"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Fragments.IndicatorSeeAll" />
        <activity
            android:name=".Fragments.PriceWebView"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Fragments.PriceSeeAll" />
        <activity
            android:name=".ProfileActivty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CourseScreen.OfflineCourse" />
        <activity android:name=".CourseScreen.OnlineCourse" />
        <activity
            android:name=".MenuActivity.FeedBack_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ForgetPassword_actiicty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Verification_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Registration_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Abouts_Activty.Blogs" />
        <activity android:name=".Abouts_Activty.Returns" />
        <activity android:name=".Abouts_Activty.Terms" />
        <activity android:name=".Abouts_Activty.Privacy_Policy" />
        <activity android:name=".Abouts_Activty.Disclaimer" />
        <activity
            android:name=".QueryForm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuActivity.About"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuActivity.Course"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MenuActivity.Calculator" />
        <activity
            android:name=".MenuActivity.Gallery"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuActivity.Trading_Calls"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Abouts_Activty.About_us" />
        <activity
            android:name=".MenuActivity.Contact_Us"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Splash_Screen"
            android:theme="@style/AppTheme.NoActionBar1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ErrorScreen"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>