<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prabhat.prabhattradingservice">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:debuggable="false"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name="com.prabhat.prabhattradingservice.BlogsSeeAll" />
        <activity android:name="com.prabhat.prabhattradingservice.Fragments.PositionalSeeall" />
        <activity
            android:name="com.prabhat.prabhattradingservice.Fragments.PositionalWebView"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.prabhat.prabhattradingservice.Fragments.IndicatorWebView"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.prabhat.prabhattradingservice.Fragments.IndicatorSeeAll" />
        <activity
            android:name="com.prabhat.prabhattradingservice.Fragments.PriceWebView"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.prabhat.prabhattradingservice.Fragments.PriceSeeAll" />
        <activity
            android:name="com.prabhat.prabhattradingservice.ProfileActivty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.prabhat.prabhattradingservice.CourseScreen.OfflineCourse" />
        <activity android:name="com.prabhat.prabhattradingservice.CourseScreen.OnlineCourse" />
        <activity
            android:name="com.prabhat.prabhattradingservice.MenuActivity.FeedBack_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.prabhat.prabhattradingservice.ForgetPassword_actiicty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.prabhat.prabhattradingservice.Verification_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.prabhat.prabhattradingservice.Registration_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.prabhat.prabhattradingservice.Login_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.prabhat.prabhattradingservice.Abouts_Activty.Blogs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.prabhat.prabhattradingservice.Abouts_Activty.Returns"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.prabhat.prabhattradingservice.Abouts_Activty.Terms"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.prabhat.prabhattradingservice.Abouts_Activty.Privacy_Policy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.prabhat.prabhattradingservice.Abouts_Activty.Disclaimer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.prabhat.prabhattradingservice.QueryForm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.prabhat.prabhattradingservice.MenuActivity.About"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.prabhat.prabhattradingservice.MenuActivity.Course"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.prabhat.prabhattradingservice.MenuActivity.Calculator"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.prabhat.prabhattradingservice.MenuActivity.Gallery"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.prabhat.prabhattradingservice.MenuActivity.Trading_Calls"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.prabhat.prabhattradingservice.Abouts_Activty.About_us"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.prabhat.prabhattradingservice.MenuActivity.Contact_Us"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.prabhat.prabhattradingservice.Splash_Screen"
            android:theme="@style/AppTheme.NoActionBar1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.prabhat.prabhattradingservice.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.prabhat.prabhattradingservice.ErrorScreen"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_KrN9yMRkKh9pwG"
            />


    </application>

</manifest>